<div class="">
    <app-garage-sidebar></app-garage-sidebar>
    <div class="content-page">
        <div class="content">
            <app-garage-header></app-garage-header>
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                               
                            </div>
                            <h4 class="page-title">Dashboard</h4>
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mb-3">World Vector Map</h4>
                                
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>