<div class="wrapper">
    <app-admin-sidebar></app-admin-sidebar>
    <div class="content-page">
        <div class="content">
            <app-admin-header></app-admin-header>
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                               
                            </div>
                            <h4 class="page-title">Dashboard</h4>
                            <p>alooooooooooooooooooooooooooooooo</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>