<!-- <div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-dark navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboards" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="uil-dashboard me-1"></i>Dashboards <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-dashboards">
                            <a href="dashboard-analytics.html" class="dropdown-item">Analytics</a>
                            <a href="dashboard-crm.html" class="dropdown-item">CRM</a>
                            
                        </div>
                    </li>
                   

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-layouts" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="uil-window me-1"></i>Layouts <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-layouts">
                            <a href="index.html" class="dropdown-item">Vertical</a>
                            <a href="layouts-detached.html" class="dropdown-item">Detached</a>
                            <a href="layouts-horizontal.html" class="dropdown-item">Horizontal</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div> -->



<div class="map-wrapper">
    <div class="p-3">
      <ul class="nav nav-pills">
        <li>
          <select class="form-select ms-md-4" id="moughataa" (change)="toggleMoughataaGarageMarkers($event)">
            <option value='allgarages' selected>Tous les moughataas</option>
            <option value='Leksar'>Leksar</option>
            <option value='Arafat'>Arafat</option>
            <option value='dar naim'>Dar naim</option>
          </select>
        </li>
        <!-- <li>
          <form class="form-inline waves-light ms-5" mdbWavesEffect>
            <div class="md-form mt-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
          </form>
        </li> -->
      </ul>
    </div>
    <div class="map-border">
      <div id="map"></div>
    </div>
  </div>