@import "leaflet/dist/leaflet.css";
.map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 90px;
}

.map-border {
  border: 2px solid #2b4d68;
  height: 100%;
}

#map {
  height: 100%;
}